.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 40px 12px;
  gap: 10px;

  position: absolute;
  width: 213px;
  height: 64px;
  left: 363px;
  top: 20px;

  /* Primary/Dove */

  background: #ffffff;
  border-radius: 100px;
}

.btn--primary {
}
.btn--secondary {
}
.btn--secondary.btn--dark {
}