.btn {
  border: 2px solid #2b2b2b;
  display: inline-block;
  border-radius: 9999px;
  padding: 1rem 2.5rem;
  font-family: var(--font-button);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.3333333333;
  text-align: center;
  transition: 0.15s ease-in-out;
}

.btn + .btn {
  margin-left: 1rem;
}

.btn--block {
  display: block;
  width: 100%;
}

.btn__icon {
  display: inline-block;
  vertical-align: middle;
  fill: currentcolor;
  margin-left: 1rem;
  position: relative;
  bottom: 0.125rem;
}

/* Modifiers */
.btn--sm {
  font-size: 1rem;
  padding: 0.25rem 1.25rem 0.35rem;
  box-shadow: none;
}

.btn--primary {
  background: var(--color-secondary-water);
  border-color: var(--color-secondary-water);
  color: var(--color-primary-dove);

  &:hover,
  &:focus-visible {
    background: var(--color-primary-dove);
    border-color: var(--color-primary-water);
    color: var(--color-secondary-water);
  }
}

.btn--secondary {
  /* background: var(--color-primary-dove); */
  background-color: transparent;
  border-color: var(--color-primary-smoke);
  color: var(--color-primary-smoke);

  &:hover,
  &:focus-visible {
    background: var(--color-primary-smoke);
    border-color: var(--color-primary-smoke);
    color: var(--color-primary-dove);
  }
}

.btn--secondary.btn--dark {
  background: var(--color-primary-smoke);
  border-color: var(--color-primary-dove);
  color: var(--color-primary-dove);

  &:hover,
  &:focus-visible {
    background: var(--color-primary-dove);
    border-color: var(--color-primary-dove);
    color: var(--color-primary-smoke);
  }
}

.btn--secondary.btn--dark:not(.btn--sm) {
  box-shadow: var(--drop-shadow-dimensions) var(--color-primary-dove);

  &:hover,
  &:focus-visible {
    box-shadow: 0.25rem 0.25rem 0 0 var(--color-primary-dove);
  }
}

.btn--link {
  border: 0 none;
  padding: 0;
  font-size: 1.125rem;
  position: relative;

  &::before,
  &::after {
    position: absolute;
    left: 0;
    top: calc(100% + 2px);
    height: 2px;
    content: "";
    background: currentcolor;
    width: 100%;
  }

  &::before {
    transform: scaleX(0);
    transform-origin: left;
  }

  &::after {
    transform: scaleX(100%);
    transform-origin: right;
  }

  &:focus-visible {
    outline: none;
    border: 0 none;
  }

  &:hover,
  &:focus-visible {
    color: var(--color-secondary-water);

    &::before,
    &::after {
      transition: 0.25s ease-in-out transform;
    }

    &::before {
      transform: scaleX(100%);
      transition-delay: 0.2s;
    }

    &::after {
      transform: scaleX(0);
    }
  }
}
