.cart-table {
  display: block;
  font-size: 1rem;
  width: 100%;
}

.cart-table__header {
  text-align: left;
  display: none;
}

.cart-table__header th {
  line-height: 1;
  padding: 0.75rem 1rem;
}

.cart-line-item__label {
  font-size: 0.875rem;
  display: block;
}

/* Line items */
.cart-table__body,
.cart-table__footer,
.cart-line-item__cell {
  display: block;
}

.cart-line-item__cell {
  padding: 0.75rem 1rem;
}

.cart-line-item__cell--product-contents {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 70px 1fr;
  padding-right: 50px;
}

.cart-line-item {
  display: grid;
  gap: 1rem 1.5rem;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(min-content, max-content);
  position: relative;
  border-bottom: 1px solid var(--color-primary-bone);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.cart-line-item__cell--product-contents {
  grid-area: 1 / 1 / 2 / 7;
}
.cart-line-item__cell--sku {
  grid-area: 2 / 1 / 3 / 3;
}
.cart-line-item__cell--available {
  grid-area: 2 / 3 / 3 / 5;
}
.cart-line-item__cell--price {
  grid-area: 3 / 1 / 4 / 3;
}
.cart-line-item__cell--total {
  grid-area: 3 / 3 / 4 / 5;
}
.cart-line-item__cell--quantity {
  grid-area: 2 / 5 / 4 / 7;
  align-self: end;
}

.cart-line-item__remove {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
}

.cart-line-item__remove--mobile {
  position: absolute;
  right: 0.5rem;
  top: 1.5rem;
}

.cart-line-item__quantity-wrapper {
  position: relative;

  .quantity-control {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.cart-line-item__cell--desktop-only {
  display: none;
}

/* Item details */

.cart-product-details__item ul {
  margin-top: 0.75rem;
  font-size: 0.875rem;
}

.cart-product-details__item strong {
  display: inline-block;
  font-weight: 500;
  margin-right: 0.25rem;
}

.cart-line-item__image--mobile-only {
  display: block;
  height: 4.375rem;
  width: 4.375rem;
}

@media (min-width: 1024px) {
  .cart-line-item {
    padding-top: 0;
    padding-bottom: 0;
  }

  .cart-table__header {
    display: table-header-group;
  }

  .cart-table__body {
    display: table-row-group;
  }

  .cart-table__footer {
    display: table-footer-group;
  }

  .cart-line-item {
    display: table-row;
  }

  .cart-line-item__cell {
    display: table-cell;
    padding: 1.5rem 1rem 1rem;
    vertical-align: top;
  }

  .cart-line-item__cell--image {
    padding: 1rem;
  }

  .cart-line-item__mobile-only,
  .cart-line-item__image--mobile-only,
  .cart-line-item__remove--mobile {
    display: none;
  }

  .cart-line-item__quantity-wrapper .quantity-control,
  .cart-line-item__quantity-wrapper {
    position: static;
  }

  .cart-line-item__cell--desktop-only {
    display: table-cell;
  }
  
  .cart-line-item__remove {
    position: relative;
    top: -0.5rem;
  }
}
@media (min-width: 1280px) {
  .cart-table {
    font-size: 1.25rem;
  }
}
