.form-field {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.form-label {
  display: block;
  line-height: 1.1;
  margin-bottom: 0.75rem;
}

select.form-select,
select.form-control {
  appearance: none;
  background: var(--color-primary-dove) svg-load("icons/CheveronDown.svg", stroke=#2b2b2b, fill=none) no-repeat right
    1rem center;
  border: 1px solid var(--color-primary-smoke);
  display: block;
  height: 3.75rem;
  padding: 1rem 1.25rem;
  width: 100%;
}

.form-input,
.form-textarea,
.form-select,
.form-multiselect {
  appearance: none;
  background-color: #fff;
  border-color: var(--color-secondary-earth);
  border-width: 1px;
  border-radius: 0;
  display: block;
  padding: 1rem 1.5rem;
  font-size: 1.25rem;
  line-height: 1.5rem;
  --form-shadow: 0 0 #0000;
  width: 100%;
}
.form-input:focus,
.form-textarea:focus,
.form-select:focus,
.form-multiselect:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --form-ring-inset: var(--form-empty);
  --form-ring-offset-width: 0px;
  --form-ring-offset-color: #fff;
  --form-ring-color: var(--color-primary-smoke);
  --form-ring-offset-shadow: var(--form-ring-inset) 0 0 0 var(--form-ring-offset-width) var(--form-ring-offset-color);
  --form-ring-shadow: var(--form-ring-inset) 0 0 0 calc(1px + var(--form-ring-offset-width)) var(--form-ring-color);
  box-shadow: var(--form-ring-offset-shadow), var(--form-ring-shadow), var(--form-shadow);
  border-color: var(--color-primary-smoke);
}
.form-input::placeholder,
.form-textarea::placeholder {
  color: #6b7280;
  opacity: 1;
}
.form-input::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
}
.form-input::-webkit-date-and-time-value {
  min-height: 1.5em;
}
.form-input::-webkit-datetime-edit,
.form-input::-webkit-datetime-edit-year-field,
.form-input::-webkit-datetime-edit-month-field,
.form-input::-webkit-datetime-edit-day-field,
.form-input::-webkit-datetime-edit-hour-field,
.form-input::-webkit-datetime-edit-minute-field,
.form-input::-webkit-datetime-edit-second-field,
.form-input::-webkit-datetime-edit-millisecond-field,
.form-input::-webkit-datetime-edit-meridiem-field {
  padding-top: 0;
  padding-bottom: 0;
}
