.hero {
  overflow: hidden;
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
  position: relative;
  color: var(--color-primary-smoke);

  @media (min-width: 640px) {
    padding-bottom: 4rem;
    padding-top: 4rem;
  }
}

.hero--light::before,
.hero--dark::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -10;
}

.hero--light::before {
  background-color: var(--color-background-bone);
}

.hero--dark::before {
  background-color: var(--color-primary-smoke);
}

.hero--dark {
  color: #fff;
}

.hero__tags {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
}

.hero__tags li:not(:first-child) {
  margin-left: 1.5rem;
}

.hero__tag {
  display: inline-block;
}

.hero__tags-outer {
  overflow: auto;
}

.hero__tags {
  overflow: visible;
  width: 100%;
}

.hero .container {
  overflow: visible;
  display: grid;
  gap: 1rem 2rem;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  position: relative;
  z-index: 10;
}

.hero__inner {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.hero__content {
  max-width: 625px;
}

.hero__brand-element {
  z-index: 1;
  margin-bottom: 2rem;
}

.hero--collection .hero__inner {
  min-height: 454px;
  height: 25vw;
}

.hero--page .hero__inner {
  min-height: 138px;
}

.hero__breadcrumbs {
  order: -1;
}

.hero__background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.hero__background--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;

}

.hero__breadcrumb__delimiter {
  height: 1.25rem;
  width: 1.25rem;
}

.hero__description {
  font-size: 1.5rem;
  line-height: 1.3333333333;
}

/* Hero left */
.hero--align-left {
  text-align: left;
}

.hero--align-left .container {
  justify-content: flex-start;
  justify-items: flex-start;
}

.hero--align-left .hero__content {
  display: grid;
  gap: 1.5rem;
  max-width: unset;
}

.hero--align-left .hero__description {
  font-size: 1.25rem;
  line-height: 1.4;
}

.hero--align-left .hero__brand-element {
  z-index: 1;
  margin-bottom: 0;
  position: absolute;
  top: 36px;
  right: 42px;
  display: none;
}

@media (min-width: 640px) {
  .hero--align-left .container {
    grid-template-columns: 8fr 4fr; 
  }

  .hero--align-left .hero__brand-element {
    display: block;
  }
}

@media (min-width: 1024px) {
  .hero--align-left .container {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (min-width: 1280px) {
  .hero--align-left .container {
    grid-template-columns: 5.5fr 6.5fr; 
  }

  .hero--align-left .container {
    min-height: 500px;
  }
}