.mailing-list {
  width: 100%;
  max-width: 480px;
  display: grid;
  grid-template-columns: minmax(0, 7.1fr) minmax(0, 2.9fr);
}

.mailing-list__input {
  /* for iOS <= 15.3 */
  -webkit-appearance: none;
  appearance: none;
  border-radius: 9999px 0 0 9999px;
  font-size: 1rem;
  padding: 1rem 1.5rem;
}

.mailing-list__submit {
  border-radius: 0 9999px 9999px 0;
  padding: 1rem 1rem;
  white-space: nowrap;
}
