.mobile-navigation {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 1rem 1.5rem;
  width: 100%;
  height: 100%;
  background: var(--color-primary-smoke);
  color: var(--color-primary-dove);
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 5rem;
  transform: translateY(-5%);
  opacity: 0;
  transition: 0.25s ease-in-out;
  transition-property: opacity, transform;
  pointer-events: none;
}

.is-mobile-nav-open .mobile-navigation {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.mobile-navigation__close {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  fill: var(--color-primary-dove);
  stroke: var(--color-primary-dove);
}

.mobile-navigation__close svg path {
  stroke-width: 1;
}

@media (min-width: 1024px) {
  .mobile-navigation {
    display: none;
  }
}
