.order {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.order__header {
  background-color: var(--color-background-bone);
  display: grid;
  gap: 1rem 1.5rem;
  grid-template-columns: 1fr;
  padding: 1.5rem;
}

.order__actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.order__actions a {
  display: inline-block;
  text-decoration: underline;
}

@media (min-width: 768px) {
  .order__header {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    > * {
      flex: 1;
    }
  }
}
