.product-form-footer {
  margin-top: 2rem;
}

.product-form__colors {
  display: flex;
  gap: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.product-form__colors label {
  background-color: #000;
  appearance: none;
  color: transparent;
  border: 5px solid white;
  border-radius: 9999px;
  display: block;
  height: 2.75rem;
  width: 2.75rem;
}

/* These are placeholder colors. We recommend placing background colors with inline styles for the label element itself. */
.product-form__colors #color-smoke + label {
  background-color: var(--color-primary-smoke);
}
.product-form__colors #color-water + label {
  background-color: var(--color-secondary-water);
}
.product-form__colors #color-light + label {
  background-color: var(--color-secondary-light);
}
.product-form__colors #color-earth + label {
  background-color: var(--color-secondary-earth);
}

.product-form__options {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: 20px;
}

.product-form__option label {
  cursor: pointer;
}

.product-form__option + label {
  border: 1px solid var(--color-primary-midnight);
  box-shadow: none;
  background-color: transparent;
  line-height: 1.1;
  padding: 1rem 1.25rem;
  text-align: center;
  transition: 0.15s ease-in-out background-color, 0.15s ease-in-out box-shadow;

  &:hover {
    border-color: var(--color-secondary-water);
    box-shadow: inset 0 0 0 2px var(--color-secondary-water);
  }
}

.product-form__option:checked + label {
  background-color: var(--color-secondary-water);
  border-color: var(--color-secondary-water);
  /* Not sure about this transition, but it's alright. */
  box-shadow: inset 0 0 0 50px var(--color-secondary-water);
  transition: 0.15s ease-in-out box-shadow, 0.01s 0.15s ease-in-out background-color;
  color: var(--color-primary-dove);
}

.product-form-quantity {
  position: relative;
}

.product-form-quantity__remaining {
  color: var(--color-status-success);
  font-size: 0.875em;
  left: 0;
  position: absolute;
  top: 100%;
}

/* Price layout. */
.product-form-prices__price-wrap {
  line-height: 1.1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.product-form-prices__label {
  font-weight: 500;
}

.product-form-prices__price-wrap:not(:last-child) {
  border-bottom: 1px solid var(--color-primary-bone);
}

.product-form-prices__price {
  font-size: 1rem;
}

.product-form-prices__price--wholesale {
  font-size: 1.25rem;
}

@media (min-width: 414px) {
  .product-form-prices {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-left: -1rem;
    margin-right: -1rem;
  }

  .product-form-prices__label {
    font-weight: 400;
  }

  .product-form-prices__price-wrap {
    padding: 0 1rem;
  }

  .product-form-prices__price-wrap:not(:last-child) {
    border-bottom: 0;
    border-right: 1px solid var(--color-primary-bone);
  }
}

@media (min-width: 1280px) {
  .product-form-prices {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }

  .product-form-prices__price-wrap {
    padding: 0 1.5rem;
  }
}

/* Active state */
.product-form__colors input[type="radio"]:checked + label {
  box-shadow: 0 0 0 1px var(--color-primary-midnight);
}

.product-form-footer__submit {
  margin-top: 2.5rem;
}

@media (min-width: 414px) {
  .product-form-footer__submit {
    margin-top: 0;
  }

  .product-form-footer--with-quantity {
    display: grid;
    align-items: end;
    grid-template-columns: 100px 1fr;
    gap: 2rem;
  }
}

@media (min-width: 640px) {
  .product-form-prices__price {
    font-size: 1.5rem;
  }

  .product-form-prices__price--wholesale {
    font-size: 2.25rem;
  }
}
