.product-cards-carousel {
  overflow: hidden;
  padding-bottom: 4rem;
  padding-top: 4rem;
  position: relative;
}

.product-cards-carousel__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  
  svg {
    opacity: .2;
    width: 100%;
    height: 100%;
  }
}

.product-cards-carousel .splide__track {
  overflow: visible;
}

/* Fixes issue with slide box shadows not showing over subsequent slides. */
.product-cards-carousel .splide__slide:hover {
  z-index: 10;
}

.product-cards-carousel__pagination {
  padding: 1rem 0;

  .splide__pagination {
    justify-content: flex-start;
  }

  .splide__pagination__page::before {
    border-color: var(--color-primary-midnight);
  }

  .splide__pagination__page.is-active::before {
    background-color: var(--color-primary-midnight);
  }
}
