.product-cards-carousel {
  overflow: hidden;
  padding-bottom: 4rem;
  padding-top: 4rem;
  position: relative;
}

.product-cards-carousel__bg {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  svg {
    opacity: 0.2;
    width: 100%;
    height: 100%;
  }
}

.product-cards-carousel__header {
  margin-bottom: 2rem;
}

.product-cards-carousel__header-right {
  display: none;
}

.product-cards-carousel__title {
  line-height: 1;
}

.product-cards-carousel__title:not(:last-child) {
  margin-bottom: 0.75rem;
}

.product-cards-carousel .splide__track {
  overflow: visible;
}

.product-cards-carousel__pagination .splide__pagination {
  justify-content: flex-start;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.product-cards-carousel__pagination .splide__pagination__page::before {
  border-color: var(--color-primary-midnight);
}

.product-cards-carousel__pagination .splide__pagination__page.is-active::before {
  background-color: var(--color-primary-midnight);
}

/* Fixes issue with slide box shadows not showing over subsequent slides. */
.product-cards-carousel .splide__slide:hover {
  z-index: 10;
}

@media (min-width: 640px) {
  .product-cards-carousel__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;
  }

  .product-cards-carousel__pagination .product-cards-carousel__view-more {
    display: none;
  }

  .product-cards-carousel__header-right {
    display: block;
  }
}
