.quantity-input {
  position: relative;
}

.quantity-input__field {
  display: block;
  width: 100%;
  text-align: center;
}

// remove spinners
.quantity-input__field::-webkit-outer-spin-button,
.quantity-input__field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-input__field[type="number"] {
  -moz-appearance: textfield;
}

.quantity-input__button {
  appearance: none;
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 45px;
  text-align: center;
}

.quantity-input__button--decrement {
  left: 0;
}

.quantity-input__button--increment {
  right: 0;
}
