.responsive-embed {
  position: relative;
}

.responsive-embed img,
.responsive-embed iframe,
.responsive-embed video,
.responsive-embed__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.responsive-embed__item > * {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.responsive-embed--16by9::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
