.tag {
  background-color: var(--color-primary-dove);
  border: 2px solid var(--color-primary-smoke);
  border-radius: 9999px;
  display: inline-block;
  text-align: center;
  line-height: 1;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  position: relative;
  white-space: nowrap;
  transition: 0.15s ease-in-out;
}

.tag+.tag {
  margin-left: 0.5rem;
}

a.tag {
  &:hover,
  &:focus-visible {
    border-color: var(--color-secondary-light);
    outline: none;
  }
}

.tag--lg {
  font-size: 1.25rem;
  padding: 1.25rem 2.5rem;

  @media (min-width: 768px) {
    font-size: 1.75rem;
  }
}

.tag--md {
  font-size: 1.25rem;
  padding: 1rem 1.875rem;

  @media screen and (min-width: 768px) {
    font-size: 1.5rem;
  }
}

.tag--md.tag--has-thumbnail {
  padding-left: 4.5rem;
}

.tag--lg.tag--has-thumbnail {
  padding-left: 5.5rem;
}

.tag--label {
  font-size: 0.875rem;
  font-family: var(--font-heading);
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding: 0.25rem 1.25rem;
}

.tag--invert {
  color: var(--color-primary-dove);
  border-color: var(--color-primary-dove);
  background: var(--color-primary-smoke);
}

.tag--simple {
  background-color: transparent;
  border-width: 1px;
}

.tag--secondary {
  background-color: var(--color-secondary-light);
  border: 1px solid var(--color-secondary-light);
  color: var(--color-primary-smoke);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.tag--secondary-invert {
  background-color: var(--color-primary-smoke);
  border: 1px solid var(--color-secondary-light);
  color: var(--color-secondary-light);
}

.tag__thumbnail {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 9999px;
  overflow: hidden;
  height: 100%;
}

.tag__thumbnail > img {
  width: auto;
  height: 100%;
}

.tag__decoration {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  svg {
    fill: currentcolor;
  }
}

.tag__decoration--left {
  left: 0.5rem;
}

.tag__decoration--right {
  right: 0.5rem;
}

.tag__thumbnail img {
  display: block;
  border-radius: 9999px;
}
