/* Base Helper Classes for Display */
.hidden {
  display: none;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.block {
  display: block;
}

/* Helper Classes for Display */
@media (min-width: 640px) {
  .sm\:hidden {
    display: none;
  }

  .sm\:flex {
    display: flex;
  }

  .sm\:inline-flex {
    display: inline-flex;
  }

  .sm\:block {
    display: block;
  }
}

@media (min-width: 768px) {
  .md\:hidden {
    display: none;
  }

  .md\:flex {
    display: flex;
  }

  .md\:inline-flex {
    display: inline-flex;
  }

  .md\:block {
    display: block;
  }
}

@media (min-width: 1024px) {
  .lg\:hidden {
    display: none;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:inline-flex {
    display: inline-flex;
  }

  .lg\:block {
    display: block;
  }
}

@media (min-width: 1280px) {
  .xl\:hidden {
    display: none;
  }

  .xl\:flex {
    display: flex;
  }

  .xl\:inline-flex {
    display: inline-flex;
  }

  .xl\:block {
    display: block;
  }
}

@media (min-width: 1536px) {
  .2xl\:hidden {
    display: none;
  }

  .2xl\:flex {
    display: flex;
  }

  .2xl\:inline-flex {
    display: inline-flex;
  }

  .2xl\:block {
    display: block;
  }
}
