body {
  font-family: var(--font-sans);
}

.typography-heading {
  font-family: var(--font-heading);
  text-transform: uppercase;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.typography-h1,
.typography-h2,
.typography-h3,
.typography-h4,
.typography-h5,
.typography-h6 {
  font-family: var(--font-heading);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0.5em;
}

/* Font sizes are based on 16px base font size, so 1rem = 16px */

/* h1 - 76px, 5vw scale, 102px */
.typography-h1,
.h1 {
  font-size: clamp(4.75rem, 5vw, 6.375rem);
  letter-spacing: 0.02em;
  line-height: 1.1875;

  @media (min-width) {
    line-height: 1.25;
  }
}

/* h2 - 56px, 5vw scale, 80px */
.typography-h2,
.h2 {
  font-size: clamp(3.5rem, 4vw, 5rem);
  line-height: 1.1667;
  letter-spacing: 0.02em;

  @media (min-width) {
    line-height: 1.25;
  }
}

/* h3 - 48px / 48px */
.typography-h3,
.h3 {
  font-size: 3rem;
  letter-spacing: 0.01em;
  line-height: 1.1428571429;
}

/* h4 - 36px / 36px */
.typography-h4,
.h4 {
  font-size: 2.25rem;
  line-height: 1.125;
  letter-spacing: 0.01em;

  @media (min-width) {
    line-height: 1.1428571429;
  }
}

/* h5 - 24px / 24px */
.typography-h5,
.h5 {
  font-size: 1.5rem;
  line-height: 0.9230769231;
  letter-spacing: 0.04em;

  @media (min-width: 768px) {
    line-height: 0.8275862069;
  }
}

/* Body copy */
/* XL, L, M, S, XS, 2XS */
.typography-body-xl {
  font-size: 2.25rem;
  line-height: 0.9444444444;
}

.typography-body-lg {
  font-size: 1.75rem;
  line-height: 1.2142857143;
}

.typography-body-md {
  font-size: 1.5rem;
  line-height: 1.3333333333;
}

.typography-body-sm {
  font-size: 1.25rem;
  line-height: 1.4;
}

.typography-body-xs {
  font-size: 1rem;
  line-height: 1.375;
}

.typography-body-2xs {
  font-size: 0.875rem;
  line-height: 1.4285714286;
}
