:root {
  /*
   * Colors
   */
   
  /* Primary */
  --color-primary-midnight: #000000;
  --color-primary-smoke: #2b2b2b;
  --color-primary-bone: #dad3c6;
  --color-primary-dove: ##ffffff;
  
  /* Secondary */
  --color-secondary-water: #0a4de2;
  --color-secondary-light: #c9f327;
  --color-secondary-earth: #8c6741;

  /* Miscellaneous/background colors */
  --color-background-bone: #F8F6F4;

  /* Fonts */
  
  /* Font families */
  --font-founders-grotesk: 'Founders Grotesk', sans-serif;
  --font-alternate-gothic: 'Alternate Gothic', sans-serif;
  --font-pitch-sans: 'Pitch Sans', sans-serif;
  --font-sans: var(--font-founders-grotesk);
  --font-heading: var(--font-alternate-gothic);
}