@import "tailwindcss/base";

/* Globals */
@import "./src/styles/global/variables.css";
@import "./src/styles/global/fonts.css";
@import "./src/styles/global/typography.css";
@import "./src/styles/global/a11y.css";
@import "./src/styles/global/display.css";
@import "./src/styles/global/colors.css";

/* Components */
@import "./src/styles/components/card.css";
@import "./src/styles/components/button.css";
@import "./src/styles/components/tag.css";
@import "./src/styles/components/forms.css";
@import "./src/styles/components/mailing-list.css";
@import "./src/styles/components/mobile-search-form.css";
@import "./src/styles/components/mobile-navigation.css";

/* Layouts */
@import "./src/styles/layouts/super-header.css";
@import "./src/styles/layouts/collection-grid.css";
@import "./src/styles/layouts/header.css";
@import "./src/styles/layouts/mobile-menu.css";
/* @import "./src/styles/layouts/header-v2.css"; */

@import "tailwindcss/components";
@import "tailwindcss/utilities";
