@import "tailwindcss/base";

/* Globals */
@import "./src/styles/global/vendor.css";
@import "./src/styles/global/variables.css";
@import "./src/styles/global/fonts.css";
@import "./src/styles/global/typography.css";
@import "./src/styles/global/a11y.css";
@import "./src/styles/global/display.css";
@import "./src/styles/global/colors.css";
@import "./src/styles/global/row.css";
@import "./src/styles/global/grid.css";
@import "./src/styles/global/utilities.css";
@import "./src/styles/global/sections.css";
@import "./src/styles/global/animations.css";

/* Components */
@import "./src/styles/components/container.css";
@import "./src/styles/components/address.css";
@import "./src/styles/components/button.css";
@import "./src/styles/components/card.css";
@import "./src/styles/components/tag.css";
@import "./src/styles/components/forms.css";
@import "./src/styles/components/mailing-list.css";
@import "./src/styles/components/actions.css";
@import "./src/styles/components/benefit.css";
@import "./src/styles/components/icon.css";
@import "./src/styles/components/hero.css";
@import "./src/styles/components/breadcrumbs.css";
@import "./src/styles/components/mobile-search-form.css";
@import "./src/styles/components/mobile-navigation.css";
@import "./src/styles/components/accordion.css";
@import "./src/styles/components/responsive-embed.css";
@import "./src/styles/components/account-sidebar.css";
@import "./src/styles/components/order.css";
@import "./src/styles/components/order-stat.css";
@import "./src/styles/components/cart.css";
@import "./src/styles/components/quantity-control.css";
@import "./src/styles/components/image-overlay.css";
@import "./src/styles/components/forms.css";
@import "./src/styles/components/one-column-text.css";
@import "./src/styles/components/team-member.css";
@import "./src/styles/components/product-form.css";
@import "./src/styles/components/quantity-input.css";
@import "./src/styles/components/pricing-table.css";
@import "./src/styles/components/loader.css";
@import "./src/styles/components/video-background.css";
@import "./src/styles/components/carousel.css";
@import "./src/styles/components/product-card-carousel.css";
@import "./src/styles/components/splide.css";
@import "./src/styles/components/gallery-video.css";

/* Layouts */
@import "./src/styles/layouts/super-header.css";
@import "./src/styles/layouts/text-image-split.css";
@import "./src/styles/layouts/benefits-grid.css";
@import "./src/styles/layouts/icons-grid.css";
@import "./src/styles/layouts/callout-grid.css";
@import "./src/styles/layouts/brand-header.css";
@import "./src/styles/layouts/account-actions.css";
@import "./src/styles/layouts/account-orders.css";
@import "./src/styles/layouts/super-header.css";
@import "./src/styles/layouts/text-callout.css";
@import "./src/styles/layouts/mailing-list-signup.css";
@import "./src/styles/layouts/collection-grid.css";
@import "./src/styles/layouts/header.css";
@import "./src/styles/layouts/mobile-menu.css";
@import "./src/styles/layouts/footer.css";
@import "./src/styles/layouts/image-overlay-grid.css";
@import "./src/styles/layouts/contact.css";
@import "./src/styles/layouts/contact-form.css";
@import "./src/styles/layouts/contact-content.css";
@import "./src/styles/layouts/team-members-grid.css";
@import "./src/styles/layouts/testimonial.css";
@import "./src/styles/layouts/product.css";
@import "./src/styles/layouts/logo-marquee.css";
@import "./src/styles/layouts/quick-links.css";
@import "./src/styles/layouts/deal.css";
@import "./src/styles/layouts/cta-buttons-section.css";