@font-face {
    font-family: 'Founders Grotesk';
    src: url('/src/fonts/founders/FoundersGrotesk-Regular.woff2') format('woff2'),
        url('/src/fonts/founders/FoundersGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Founders Grotesk';
    src: url('/src/fonts/founders/FoundersGrotesk-Light.woff2') format('woff2'),
        url('/src/fonts/founders/FoundersGrotesk-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Founders Grotesk';
    src: url('/src/fonts/founders/FoundersGrotesk-BoldItalic.woff2') format('woff2'),
        url('/src/fonts/founders/FoundersGrotesk-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Founders Grotesk';
    src: url('/src/fonts/founders/FoundersGrotesk-Bold.woff2') format('woff2'),
        url('/src/fonts/founders/FoundersGrotesk-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Founders Grotesk';
    src: url('/src/fonts/founders/FoundersGrotesk-Medium.woff2') format('woff2'),
        url('/src/fonts/founders/FoundersGrotesk-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Founders Grotesk';
    src: url('/src/fonts/founders/FoundersGrotesk-LightItalic.woff2') format('woff2'),
        url('/src/fonts/founders/FoundersGrotesk-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Founders Grotesk Regular';
    src: url('/src/fonts/founders/FoundersGrotesk-RegularItalic.woff2') format('woff2'),
        url('/src/fonts/founders/FoundersGrotesk-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Founders Grotesk';
    src: url('/src/fonts/founders/FoundersGrotesk-MediumItalic.woff2') format('woff2'),
        url('/src/fonts/founders/FoundersGrotesk-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Founders Grotesk';
    src: url('/src/fonts/founders/FoundersGrotesk-Semibold.woff2') format('woff2'),
        url('/src/fonts/founders/FoundersGrotesk-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Founders Grotesk';
    src: url('/src/fonts/founders/FoundersGrotesk-SemiboldIt.woff2') format('woff2'),
        url('/src/fonts/founders/FoundersGrotesk-SemiboldIt.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
