@font-face {
    font-family: 'Pitch Sans';
    src: url('../../../fonts/pitch-sans/PitchSans-Light.woff2') format('woff2'),
        url('../../../fonts/pitch-sans/PitchSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pitch Sans';
    src: url('../../../fonts/pitch-sans/PitchSans-Bold.woff2') format('woff2'),
        url('../../../fonts/pitch-sans/PitchSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pitch Sans';
    src: url('../../../fonts/pitch-sans/PitchSans-Medium.woff2') format('woff2'),
        url('../../../fonts/pitch-sans/PitchSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pitch Sans';
    src: url('../../../fonts/pitch-sans/PitchSans-LightItalic.woff2') format('woff2'),
        url('../../../fonts/pitch-sans/PitchSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Pitch Sans';
    src: url('../../../fonts/pitch-sans/PitchSans-BoldItalic.woff2') format('woff2'),
        url('../../../fonts/pitch-sans/PitchSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Pitch Sans';
    src: url('../../../fonts/pitch-sans/PitchSans-SemiboldItalic.woff2') format('woff2'),
        url('../../../fonts/pitch-sans/PitchSans-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Pitch Sans';
    src: url('../../../fonts/pitch-sans/PitchSans-MediumItalic.woff2') format('woff2'),
        url('../../../fonts/pitch-sans/PitchSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Pitch Sans';
    src: url('../../../fonts/pitch-sans/PitchSans-Regular.woff2') format('woff2'),
        url('../../../fonts/pitch-sans/PitchSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pitch Sans';
    src: url('../../../fonts/pitch-sans/PitchSans-Semibold.woff2') format('woff2'),
        url('../../../fonts/pitch-sans/PitchSans-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pitch Sans';
    src: url('../../../fonts/pitch-sans/PitchSans-RegularItalic.woff2') format('woff2'),
        url('../../../fonts/pitch-sans/PitchSans-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
