.account-orders .container {
  display: grid;
  gap: 2rem 1.5rem;
  grid-template-columns: 1fr;
}

.account-orders__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;
}

@media (min-width: $screen-sm) {
  .account-orders .container {
    gap: 2rem;
  }
}

@media (min-width: $screen-lg) {
  .account-orders .container {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  .account-sidebar {
    grid-column: span 4 / span 4;
  }

  .account-primary-content {
    grid-column: span 8 / span 8;
  }

  .account-sidebar {
    grid-column: span 3 / span 3;
  }

  .account-primary-content {
    grid-column: span 9 / span 9;
  }
}
