.cta-buttons-section__grid {
  text-align: center;
}

.cta-buttons-section__icon {
  display: inline-block;
  height: 4rem;
  width: 4rem;
  margin-bottom: 3rem;
}

.cta-buttons-section {
  .btn,
  .tag {
    margin: 0.5rem auto;
    display: block;
    width: 100%;
    max-width: 20rem;
  }
}

@media (min-width: $screen-sm) {
  .cta-buttons-section .btn,
  .cta-buttons-section .tag {
    display: inline-block;
    max-width: none;
    margin: 0.5rem;
    width: auto;
  }
}

@media (min-width: $screen-xl) {
  .cta-buttons-section__grid {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    gap: 2rem;
  }

  .cta-buttons-section__grid > div {
    grid-column-start: 2;
  }
}
