.fast-deal__summary {
  margin-bottom: 2rem;
}

.fast-deal__deal {
  display: flex;
  flex-wrap: wrap;
}

.deal-image,
.deal-content {
  width: 100%;
}

.deal-content__counter {
  width: 100%;
  background: var(--color-secondary-light);
  padding: 0.75rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deal-content__product {
  color: #fff;
  padding: 2.5rem 2.5rem 0rem;
}

.product-title {
  margin-bottom: 8px;
}

.product-byline {
  text-decoration: underline;
  font-size: 18px;
}

.product-price {
  margin-top: 11px;
  display: flex;
  gap: 1rem;
  align-items: baseline;
}

.product-price__sale {
  font-size: 1.5rem;
  line-height: 1.3333333333;
}

.product-price__sale--unit {
  font-size: 0.875rem;
  line-height: 1.4285714286;
}

.product-price__original {
  font-size: 1rem;
  line-height: 1.375;
}

.deal-content__form {
  color: var(--color-primary-dove);
  padding: 1.25rem 2.5rem 2.5rem;

  .quantity-input {
    max-width: 200px;
  }

  .form-input {
    background-color: transparent;
  }

  .form-label,
  .form-input {
    color: currentcolor;
  }
}

.deal-content__form .btn {
  width: 100%;
  margin-top: 1.5rem;
}

@media (min-width: $screen-sm) {
  .fast-deal .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2.8125rem;
  }

  .fast-deal__summary {
    grid-column: 1 / span 12;
    margin-bottom: 0;
  }

  .fast-deal__deal {
    grid-column: 1 / span 12;
    display: flex;
    flex-wrap: wrap;
  }

  .deal-image,
  .deal-content {
    width: 50%;
  }

  .deal-content__counter {
    flex-wrap: wrap;
    text-align: center;
    padding: 0.75rem 1.5rem;
  }

  .deal-content__product {
    padding: 1.5rem 1.5rem 0rem;
  }

  .deal-content__form {
    padding: 1.25rem 1.5rem 1.5rem;
  }
}

@media (min-width: $screen-md) {
  .fast-deal__summary {
    grid-column: 1 / span 8;
  }
}

@media (min-width: $screen-lg) {
  .fast-deal__summary {
    grid-column: 2 / span 5;
  }

  .fast-deal__deal {
    grid-column: 2 / span 10;
    display: flex;
    flex-wrap: wrap;
  }

  .deal-content__form {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .deal-content__counter {
    padding: 0.75rem 2.5rem;
  }

  .deal-content__product {
    padding: 2.5rem 2.5rem 0rem;
  }
}

@media (min-width: $screen-xl) {
  .fast-deal__summary {
    grid-column: 1 / span 4;
  }

  .fast-deal__deal {
    grid-column: 5 / span 8;
  }
}
