.callout-grid__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 4fr repeat(2, 2fr);
  gap: 0.5rem;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.callout-grid__area--primary {
  grid-area: 1 / 1 / 2 / 3;
}

.callout-grid__area--secondary {
  grid-area: 2 / 1 / 3 / 3;
}

.callout-grid__area--tertiary {
  grid-area: 3 / 1 / 4 / 2;
}

.callout-grid__area--quaternary {
  grid-area: 3 / 2 / 4 / 3;
}

.callout-grid__area {
  overflow: hidden;
  position: relative;
}

.callout-grid img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.25s ease-in-out transform;
  transform: scale(1);
}

.callout-grid__area:hover,
.callout-grid__area:focus-visible {
  img {
    transform: scale(1.1);
  }
}

.callout-grid__area__title {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  background-color: var(--color-primary-dove);
  color: var(--color-primary-smoke);
  padding: 0.75rem 1rem;
  line-height: 1;
  font-size: 1.25rem;
}

.callout-grid__area__title > svg {
  flex: 0 0 19px;
  height: 14px;
  margin-left: 0.5rem;
  width: 19px;
}

@media (min-width: $screen-md) {
  .callout-grid__grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .callout-grid__area--primary {
    grid-area: 1 / 1 / 5 / 3;
  }

  .callout-grid__area--secondary {
    grid-area: 1 / 3 / 3 / 5;
  }

  .callout-grid__area--tertiary {
    grid-area: 3 / 3 / 5 / 4;
  }

  .callout-grid__area--quaternary {
    grid-area: 3 / 4 / 5 / 5;
  }
}

@media (min-width: $screen-xl) {
  .callout-grid__area__title {
    font-size: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
