.contact-content {
  gap: 1.75rem;
  display: grid;
}

.contact-content__information {
  display: grid;
  gap: 2rem;
}

.contact-content__information__column {
  p {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}

@media (min-width: 640px) {
  .contact-content__information {
    grid-template-columns: 1fr 1fr;
  }
}
