@media (min-width: 1024px) {
  .contact-content__header {
    width: 50%;
  }
}

@media (min-width: 1280px) {
  .form-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  
  .contact-content,
  .contact-form,
  .get-started-content,
  .get-started-form {
    grid-column-start: 3;
    grid-column-end: 11;
  }
}
