.mailing-list-signup > .container {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  align-items: center;
  align-content: center;
}

@media (min-width: 768px) {
  .mailing-list-signup > .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1280px) {
  .mailing-list-signup__title,
  .mailing-list-signup__form-outer {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
  }
}

.mailing-list-signup__form-outer > p {
  margin-bottom: 1rem;
}